# vim
*.swp
*.swo

# Binary
main
p2p
cp
cp/cp
p2p-cp/p2p-cp
tests/*
cp-v*
p2p-v*
cp-*-v*
p2p-*-v*
*.exe
*.zip

# Logs
*.log

# Debian
*.docs
*.substvars
*.deb
debian/debhelper-build-stamp
debian/files
debian/subutai-p2p
