# vim
*.swp
*.swo

# Build
config.make
main
/p2p
tests/*
/p2p-*
/p2p_osx
*.exe
*.zip
*.tmp

# Logs
*.log

# Debian
*.docs
*.substvars
*.deb
debian/debhelper-build-stamp
debian/files
debian/subutai-*
debian/postinst
debian/changelog
debian/control
debian/extra-code
