# vim
*.swp
*.swo
*.suo

# vscode
.vscode
debug

# Build
config.make
main
/p2p
tests/*
/p2p-*
/p2p_osx
*.exe*
*.zip
*.tmp
*.msi
/bin/*

# Logs
*.log

# Debian
*.docs
*.substvars
*.deb
debian/debhelper-build-stamp
debian/files
debian/subutai-*
debian/postinst
debian/changelog
debian/control
debian/extra-code
darwin/*.pkg
darwin/flat
darwin/root

# tests
lib/MarshalBinary*
*workdir*