Package: subutai-p2p-dev
Version: 4.0.8
Architecture: amd64
Maintainer: Mikhail Savochkin <i@crioto.com>
Installed-Size: 7933
Depends: libc6 (>= 2.4)
Section: unknown
Priority: optional
Homepage: https://subut.ai
Description: P2P Network for Subutai
