<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>io.subutai.p2p.daemon</string>

<key>ProgramArguments</key>
<array>
<string>/usr/local/bin/p2p</string>
<string>daemon</string>
</array>

<key>KeepAlive</key>
<true/>

<key>StandardOutPath</key>
<string>/var/log/p2p.log</string>

<key>StandardErrorPath</key>
<string>/var/log/p2p.log</string>

<key>Debug</key>
<true/>
</dict>
</plist>
