<pkg-info format-version="2" identifier="com.Subutai.P2P" version="{VERSION_PLACEHOLDER}" install-location="/usr/local/share/subutai" auth="root">
<payload installKBytes="{SIZE_PLACEHOLDER}" numberOfFiles="{FILES_PLACEHOLDER}"/>
  <scripts>
    <postinstall file="./postinstall"/>
  </scripts>
<bundle-version>
    <bundle id="com.Subutai.P2P" CFBundleIdentifier="com.Subutai.P2P" path="./Applications/SubutaiP2P.app" CFBundleVersion="{VERSION_PLACEHOLDER}"/>
</bundle-version>
</pkg-info>
