Source: subutai-p2p-dev
Section: unknown
Priority: optional
Maintainer: Subutai Social <i@crioto.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://subut.ai
Package: subutai-p2p-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: P2P Network for Subutai
