#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- --no-debian

override_dh_auto_install:
	dh_auto_install -- prefix=/opt/subutai/bin

override_dh_auto_test:
	dh_auto_test -- skip-test
