#!/usr/bin/make -f
export DH_VERBOSE=1
include /usr/share/dpkg/default.mk

BUILDER    := $(shell sed -ne 's,^Maintainer: .[^<]*<\([^>]*\)>,\1,p' debian/control)
#BUILDPKG   := github.com/subutai-io/p2p/build
BUILDPKG   := main
VERSION    := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
BUILDID    := $(shell git describe)
LOG_LEVEL  := DEFAULT_LOG_LEVEL
BUILDFLAGS := -ldflags\
  "-X $(BUILDPKG).AppVersion=$(VERSION)\
   -X $(BUILDPKG).DefaultDHT=DHT_ENDPOINT\
   -X $(BUILDPKG).BuildID=$(BUILDID)\
   -X $(BUILDPKG).DefaultLog=$(LOG_LEVEL)"

%:
	dh $@ --buildsystem=golang --with=golang --with-systemd

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

override_dh_auto_install:
	dh_auto_install -- --no-source
