[Unit]
Description=Subutai P2P Daemon

[Service]
Type=simple
ExecStart=/usr/bin/p2p daemon -save /var/lib/subutai/data/p2p.save -syslog 127.0.0.1:1514
Restart=always

[Install]
WantedBy=multi-user.target
